[Desktop Entry]
Version=1.0
Type=Application
Name=autostart setup
Comment=
Exec="/home/jovyan/.config/autostart/autostart"
Icon=
Path=/home/jovyan
Terminal=false
StartupNotify=false
